* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background: url("bg.png") no-repeat fixed;
  font-family: 'Roboto';
  background-size: cover;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.box {
  width: 614px;
  height: 665px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: -o-linear-gradient(324.33deg, #F1E6E6 -16.64%, #FCFCFC 10.26%, #FEFDFD 70.26%, #F5F5F5 102.01%);
  background: linear-gradient(125.67deg, #F1E6E6 -16.64%, #FCFCFC 10.26%, #FEFDFD 70.26%, #F5F5F5 102.01%);
  -webkit-box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 100px 80px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 100px 80px rgba(0, 0, 0, 0.07);
  border-radius: 19px;
}

.presentation {
  margin: 0;
  padding: 0;
  justify-content: center;
  text-align: center;
}

.logo {
  margin-bottom: 0px;
}

.subtitle {
  margin-bottom: 0px;
}

.presentation h1 {
  margin-top: 30px;
  font-size: 80px;
  height: 83px;
}

.presentation h5 {
  margin-top: 0px;
  font-size: 16.5px;
}

.presentation p {

}

.descripcion {
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140.69%;
  text-align: center;
  color: #686868;
}

.fa-gamepad {
  font-size: 30px;
}

.emoji {
  margin: 13px;
}
